.form{
    display: flex;
}

.links{
    display: flex; /*list elements appear on the same line*/
    justify-content: space-around; /*list elements are spread out to use the whole page width*/
    font-size: 18px;
}

nav ul {
    list-style-type: none; /* Remove bullet points for navigation links */
  }

header {
    padding-left: 20%; /*move the header over to clear the sidebar*/
}

.content{
    padding-left: 20%;/*move the content over to clear the sidebar*/
}

.sidebar{
    height: 100%; /*sidebar takes the full height of the screen*/
    width: 20%; /*set sidebar width*/
    position: fixed; 
    left: 0; /*sidebar is positioned on the left of the screen*/
    top: 0; /*sidebar is positioned on the top of the screen*/
    background-color: #343434; /*set sidebar colour*/
}

.footer{
    height: 80px; /*sets footer height*/
    width: 100%; /*footer takes the full width of the screen*/
    position: fixed; 
    bottom: 0; /*footer is positioned at the bottom of the screen*/
    background-color: #343434; /*set footer colour*/
}

.car-group{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}
.owner-group{
    margin-right: 30px;
}
  
.labels{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #f0f0f0;
    font-weight: bold; /*label text becomes bold*/
    color: #343434;
    cursor: pointer; /*the cursor changes to pointer when hovering over the label*/
    margin-bottom: 24px; /*gives the label a margin to push the input boxes down*/
}

.labels div{
    padding: 5px;
    text-align: center;
    z-index: 1; 
}

.labels::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background: rgb(229, 229, 229);
}

.Checkbox{
    display: none; /*hides the checkbox*/
}

.Checkbox:checked + .labels::before{
    left: 50%;
}

.OwnerDetails{
    display: none; /*hides the owner details input boxes by default*/
}

.error{
    color: red; /*sets error message text to red*/
}


